---
layout: galerie
title: Didier Cance
nb_fichier: 0
---

<div class="container">
	<div class="row"style="margin-top: 5%">
	{% assign image_files = site.static_files | where: "image", true %}
	{% for myimage in image_files %}
		{% if nb_fichier == 0 %}
		<div class="four columns galerieImage">
		{% endif %}
		{% increment nb_fichier %}
			<div class="cache">
				<a class="fancybox" rel="example_group" href="{{ myimage.path }}">
					<img class="galerie" src="{{ myimage.path }}" alt="" />
				</a>
			</div>	
		{% if nb_fichier == 3 %}
		</div>
			{% decrement nb_fichier %}
			{% decrement nb_fichier %}
			{% decrement nb_fichier %}
		{% endif %}
		{{ myimage.path }}
	{% endfor %}
	</div>
</div>
