---
layout: galerie
title: Didier Cance
---

{% assign nb_fichier = 0 %}
<div class="container">
	{% assign image_files = site.static_files | where: "image", true %}
	{% for myimage in image_files %}
		{% if nb_fichier == 0 %}
	<div class="row"style="margin-top: 5%">
		{% endif %}
		<div class="four columns galerieImage">
	 	{% assign nb_fichier = nb_fichier | plus: 1 %}
			<div class="cache">
				<a class="fancybox" rel="example_group" href="{{ myimage.path }}">
					<img class="galerie" src="{{ myimage.path }}" alt="" />
				</a>
			</div>	
		</div>
		{% if nb_fichier == 3 %}
	</div>
			{% assign nb_fichier = nb_fichier | minus:3 %}
		{% endif %}
	{% endfor %}
</div>
