---
layout: galerie
title: Didier Cance
---

<div class="container">
	<div class="row"style="margin-top: 5%">
	{% assign image_files = site.static_files | where: "image", true %}
	{% nb_fichier = 0 %}
	{% for myimage in image_files %}
		{% if nb_fichier == 0 %}
		<div class="four columns galerieImage">
		{% endif %}
		{% nb_fichier = nb_fichier + 1 %}
			<div class="cache">
				<a class="fancybox rel="example_group" href="{{ myimage.path }}">
					<img class="galerie" src="{{ myimage.path }}" alt="" />
				</a>
			</div>	
		{% if nb_fichier == 3 %}
		</div>
		{% endif %}
		{{ myimage.path }}
	{% endfor %}
	</div>
</div>
